extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | SeeItHere Theater App was designed to help you find the productions you want to see
        | <br /><br />
        | Rainier Reindeer is a team of genius computer programmers consisting of Noah Reyes, Rob Shelton, Nicky Smit, and Nathan Wang. Together, they are an unstoppable programming force.
