extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      h2 What does this app do?
      p SeeItHere Theater helps you locate live theater productions you want to see, by letting you search by play title, by theater, and always by location.
      h2 How do I search?
      p There's a search bar in the top right corner for just such a purpose. Type in the name of a play or theater that you're interested in seeing and you'll get results specific to your location.
