extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 SeeItHere Theater
          p.small Find the production you want to See
  .row
    .col-xs-12.col-sm-4(ng-controller="resultsController")
      .panel.panel-primary
        .panel-body
          label(for="filter") Filter results
          input#filter(type="text", name="filter", ng-model="textFilter")
      .panel.panel-primary
        .panel-heading
          h2.panel-title Search Results Near You
        .panel-body
          .error {{ message }}
          .row.list-group
            .col-xs.12.list-group-item(ng-repeat="theater in data.theaters | filter : textFilter")
              h4
                a(href="/results/{{ theater.URL }}") {{ theater.name }}
                small &nbsp;
                small(rating-stars, rating="theater.rating")
                span.badge.pull-right.badge-default {{ theater.distance | formatDistance }}
              p.address {{ theater.address }}
              p
    .col-xs-12.col-sm-6
      img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center=51.455041,-0.9690884&zoom=17&size=400x350&sensor=false&markers=51.455041,-0.9690884&scale=2')
    .col-xs-12.col-sm-2
      .panel.panel-primary
        .panel-heading
          h2.panel-title Limit Results
        .panel-body
          .row
            .col-xs-12
              p Limit Ticket Price
              p Limit Date
              p Limit Distance
