extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | SeeItHere Theater App is not a licensed application, nor is Rainier Reindeer a real organization, and this website is not online, so our terms have no real audience or applicability, this is solely here for authenticity's sake.
        | <br /><br />
        | But in case that doesn't matter to you, in using our website, you agree to donate your spleen and any expensive vehicles you own to us. Also a year's worth of pudding per page you visited.
