extends layout

block content
  .row.page-header
    .col-lg-12
      h1 Theatre House
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          p.rating
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star-empty
            span.glyphicon.glyphicon-star-empty
          p 125 Booker Road, Tahoca, BA, 98504
          .panel.panel-primary
            .panel-heading
              h2.panel-title Theater Description
            .panel-body
              p A lovely little theater, nestled in the Nordic-ruled village of Tahoca, Bashington. Come see quaint little plays and plenty of spiky breast plated women singing operas.
          .panel.panel-primary
            .panel-heading
              h2.panel-title Theater Reviews
            .panel-body.review-container
              .row
                .review
                  .well.well-sm.review-header
                    span.rating
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star-empty
                      span.glyphicon.glyphicon-star-empty
                      span.glyphicon.glyphicon-star-empty
                      span.glyphicon.glyphicon-star-empty
                    span.reviewAuthor Louis Louis
                    small.reviewTimestamp April 5 2016
                  .col-xs-12
                    p I was not amused, everything sucked so badly.
              .row
                .review
                  .well.well-sm.review-header
                    span.rating
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star-empty
                      span.glyphicon.glyphicon-star-empty
                      span.glyphicon.glyphicon-star-empty
                      span.glyphicon.glyphicon-star-empty
                    span.reviewAuthor Louis Louis
                    small.reviewTimestamp April 5 2016
                  .col-xs-12
                    p If it were not for the delicious swedish meatballs, I might have left
          .panel.panel-primary
            .panel-heading
              h2.panel-title.a(href="http://edmondsdriftwoodplayers.org/") Theater Website
        .col-xs-12.col-sm-6.location-map
          .panel.panel-primary
            .panel-heading
              h2.panel-title Location Map
            .panel-body
              img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center=51.455041,-0.9690884&zoom=17&size=400x350&sensor=false&markers=51.455041,-0.9690884&scale=2')
          .panel.panel-primary
            .panel-heading
              h2.panel-title Season Calendar
            .panel-body
              img.img-responsive.img-rounded(src='http://www.tondering.dk/claus/cal/calpic/calendar_icon.png')
