//Gives each html rating the correct number of stars
mixin outputRating(rating)
  - for (var i = 1; i <= rating; i++)
    span.glyphicon.glyphicon-star
  - for (i = rating; i < 5; i++)
    span.glyphicon.glyphicon-star-empty

//makes legible date and times from javascript Date object
mixin formatDate(dateString)
  - var date = new Date(dateString);
  - var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
  - var min = date.getMinutes();
  - min = min < 10 ? "0"+min : min;
  - var h = date.getHours();
  - var ampm = hours >= 12 ? " pm" : " am";
  - h = h % 12;
  - h = h ? h : 12;
  - var d = date.getDate();
  - var m = monthNames[date.getMonth()];
  - var output = m + " " + d + " at " + h + ":" + min + ampm;
  =output
